.register {
  width: 30rem;
  transform: translate(0, 35%);
  border-radius: 0.4rem;
  background: $c-pure-white;
  box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, 0.2);

  &__heading {
    border-radius: 0.4rem 0.4rem 0 0;
    background: $c-primary;
  }

  &__title {
    margin: 0;
    padding: $m-gutter;
    color: $c-pure-white;
    font-size: 1.2rem;
  }
}

.form-inputs {
  padding: $m-gutter;
}

.input {

  &__label {
    margin: 0;
    padding: 0.5rem 0;
  }

  &__bar {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $c-secondary;
    outline: none;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  padding: $m-gutter;
  border-top: 1px solid $c-secondary-light;
}

.login {
  background: $c-white;
  color: $c-secondary-light;
}

.signup {
  background: $c-primary;
  color: $c-pure-white;
}
