body {
  margin: 0;
  background: $c-white;
  font-family: $font;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

.section {
  padding: $m-gutter;
}

.container {
  max-width: $m-max-width;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;

  &__image {
    width: 8rem;
    height: 8rem;
  }

  &__ribblet {
    flex-basis: 30%;
    padding: 0.5rem 0;
  }

  &__all-ribblets {
    flex-basis: 70%;
  }
}
