.profile-title {
  padding-top:  0.5rem;
  border-bottom: 2px solid $c-secondary;
}

.heading {
  margin: 0;
}

.profile {
  margin: 0 -$m-gutter;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;

  &__item {
    background: $c-pure-white;
    margin: $m-gutter;
    flex-basis: calc(100%/3 - 2rem);
    flex-grow: 1;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .5);
  }
}

.card-pic {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.user-id {
  margin: 0;
  padding: 0.5rem 0;
  text-decoration: underline;
  font-size: 0.9rem;
  font-weight: bold;
  color: $c-secondary-light;

  &__tweets {
    font-size: $m-gutter;
  }
}
