// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
// @import 'bulma';

$c-primary: #96ca2d;
$c-light: #b5e655;
$c-secondary: #4bb5c1;
$c-secondary-light: #7fc6bc;
$c-white: #edf7f2;
$c-pure-white: #fff;

$m-gutter: 1rem;
$m-max-width: 60rem;

$font: 'Dosis', sans-serif;
@import 'box-sizing';
@import 'resets';

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $m-gutter;
  background: $c-primary;

  a {
    color: $c-pure-white;
    text-decoration: none;
  }
}

.left {
  padding: 0.5rem 0;

  &__nav-item {
    margin: 0;
  }
}

.right {
  display: flex;
  padding: 0.5rem;

  &__nav-item {
    margin: 0 0 0 $m-gutter;
  }
}
